services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
      target: app_serve
    ports:
      - 4000:4000
    env_file:
      - .env
    logging:
      driver: json-file
      options:
        max-size: '10m'
        max-file: '10'
    healthcheck:
      test:
        - CMD
        - curl
        - '-f'
        - 'http://localhost:3000/proxyhealth'
      interval: 10s
      timeout: 5s
      retries: 10
  postgres:
    image: postgres:16-alpine
    ports:
      - 45432:5432 # postgresql://myuser:mysecret@127.0.0.1:5432/supereffectivedb?search_path=public
    volumes:
      - './.local/postgres:/var/lib/postgresql/data'
      - './.local/postgres-dumps:/usr/src/data-dumps'
    environment:
      - POSTGRES_USER=myuser
      - POSTGRES_PASSWORD=mysecret
      - POSTGRES_DB=supereffectivedb
